# === OCEAN — Variables de entorno para producción ===

# PostgreSQL
POSTGRES_USER=ocean
POSTGRES_PASSWORD=cambia-esta-contraseña-muy-larga
POSTGRES_DB=ocean_db

# Backend
JWT_SECRET=cambia-esto-por-una-cadena-larga-y-aleatoria-minimo-64-caracteres
CORS_ORIGIN=http://minerva.local,http://192.168.1.100

# Frontend (URL pública del backend)
VITE_API_URL=http://minerva.local:4000
